---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap">
  You can also find my articles on
  {% if site.author.googlescholar %}
    <a href="{{site.author.googlescholar}}">Google Scholar</a>
  {% endif %}
  {% if site.author.googlescholar and site.author.semanticscholar %}
    and
  {% endif %}
  {% if site.author.semanticscholar %}
    <a href="{{site.author.semanticscholar}}">Semantic Scholar</a>
  {% endif %}.
</div>

{% include base_path %}

<h2>Journal Articles</h2>
{% for post in site.publications reversed %}
  {% if post.pubtype == 'journal' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Preprints</h2>
{% for post in site.publications reversed %}
  {% if post.pubtype == 'preprint' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


<h2>Conference Papers</h2>
{% for post in site.publications reversed %}
  {% if post.pubtype == 'conference' %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Short Reports</h2>
{% for post in site.publications reversed %}
  {% if post.pubtype == 'short' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

